<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
{% block head %}
    <link href="https://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{% block title %}{{ page.title }} &middot; {{ site.title }}{% endblock title %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url('apple-touch-icon-144-precomposed.png') }}">
    <link rel="shortcut icon" href="{{ url('favicon.ico') }}">
{% block head_css %}
    <link rel="stylesheet" href="{{ url(minify('css/style.css')) }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
{% endblock head_css %}
{% include 'partials/alternates.html.twig' %}
    <link rel="stylesheet" href="{{ url(minify('css/monokai-sublime.css')) }}">
    <script src="{{ url('js/highlight-9.13.1.min.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock head %}
  </head>
  <body>
    <div class="sidebar">
      <div class="container sidebar-sticky">
{% block sidebar %}
        <div class="sidebar-about">
          <h1>
            <a href="{{ url() }}">{{ site.title }}</a>
          </h1>
          <p class="lead sidebar-desc">{{ site.description }}</p>
        </div>
        <nav class="sidebar-nav">
          <a class="sidebar-nav-item" href="/about" style="text-decoration: underline;">About</a>
        </nav>
{% endblock sidebar %}
      </div>
    </div>
    <div class="content container">
{% block content %}
      <h1 class="page-title">{{ page.title }}</h1>
      {{ page.content }}
{% endblock %}
    </div>
  </body>

  <style type="text/css">
    @media (min-width: 48em) {
      .sidebar {
          width: 20rem;
      }
    }

    .sidebar {
        background-image: url(/sidebar-image.jpeg);
    }

    .sidebar-desc {
      color: rgb(255, 255, 255);
      font-size: 17px;
    }
  </style>
</html>
