{% extends '_default/page.html.twig' %}

{% block content %}
      <h1>{{ page.plural }}</h1>
      <ul>
{% for name, term in page.terms %}
        <li><h2><a href="{{ url(page.plural ~ '/' ~ name) }}">{{ name }}</a> ({{ term|length }})</h2>
          <ul>
{% for page in term %}
            <li><a href="{{ url(page) }}">{{ page.title }}</a></li>
{% endfor %}
          </ul>
        </li>
{% endfor %}
      </ul>
{% endblock content %}
